*{
    font-family: 'Montserrat', sans-serif;
    margin-left: 0px;
}

h2{
  
    margin: 25px;
    font-weight: 700;

}

h3{

    margin: 25px;
    font-weight: 600;
}

p{
    padding: 30px;
    font-weight: 300;
    
}